services:
    jellu:
        image: ghcr.io/barnacle322/jellu:latest
        container_name: jellu
        restart: always
        env_file:
            - .env
        environment:
            - PORT=80
        labels:
            - 'traefik.enable=true'
            - 'traefik.http.routers.jellu.rule=Host(`jellu.xyz`) || Host(`www.jellu.xyz`)'
            - 'traefik.http.routers.jellu.entrypoints=websecure'
            - 'traefik.http.routers.jellu.tls.certresolver=letsencrypt'
            - 'traefik.http.services.jellu.loadbalancer.server.port=80'
        networks:
            - web

networks:
    web:
        external: true
